body {
    background: #fff;
}

/* ----------------------------------slide ------------------------ */
.slider.grid.wide {
    margin: 1% auto;
    margin-top: 155px;
}
.slider-content-right img {
    width: 100%;
    height: auto;
    margin: 1% 0;
}
.slider-content-right img:first-child {
    margin: 0 0 1% 0;
}
/* --------------------------------menu-luachon---------------------------------- */
.menu-luachon {
    overflow-x: inherit;
}
/* --------------------- loc-dienthoai --------------------------- */

.loc_dienthoai {
    padding-top: 10px;
    width: 800px;
    display: inline-block;
}

.loc_dienthoai .loc_dienthoai-item {
    float: left;
    font-size: 14px;
    line-height: 17px;
    margin: 0 12px 10px 0;
    padding: 8px 10px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    cursor: pointer;
}

.hang {
    background-color: #fff;
    border: none;
    outline: none;
}

/* -------------------- hang-dienthoai -------------------------- */

.hang-dienthoai {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.hang-dienthoai a {
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    color: #333;
    display: flex;
    font-size: 14px;
    line-height: 13px;
    margin: 0 8px 10px 0;
    min-height: 36px;
    max-height: 36px;
    padding: 6px 13px;
    border-radius: 50px;
}

.hang-dienthoai a img {
    vertical-align: middle;
    width: auto;
    height: 20px;
}

.hang-dienthoai a:hover {
    border: 1px solid #2f80ed;
}

/* ---------------------css cho cai mui nhon --------------- */
.arrow-filter {
    width: 27px;
    height: 14px;
    top: -14px;
    left: 25px;
    position: absolute;
    overflow: hidden;
}

.arrow-filter::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    background: #fff;
    transform: rotate(45deg);
    top: 10px;
    left: 0;
    box-shadow: -2px -2px 5px -4px;
}

/* --------------------- loc-hãng-dienthoai --------------------------- */
.loc_dienthoai-item {
    position: relative;
}
.show-view {
    position: absolute;
    z-index: 1000;
    top: 140%;
    display: none;
}
.hang-showView {
    padding: 10px;
    min-width: 660px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 20px rgb(0 0 0 / 50%);
}

.hang-showView .hang-dienthoai {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.hang-showView .hang-dienthoai .hang-item {
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    color: #333;
    display: flex;
    font-size: 14px;
    line-height: 13px;
    min-height: 36px;
    max-height: 36px;
    padding: 6px 13px;
    border-radius: 50px;
}

.hang-dienthoai .hang-item img {
    vertical-align: middle;
    width: auto;
    height: 20px;
}

.hang-showView .hang-item {
    margin: 0 4px;
}

.hang-dienthoai .hang-item:hover {
    border: 1px solid #2f80ed;
}

.loc_dienthoai-item:hover .show-view {
    display: flex;
}
/* --------------------- loc-ram-dienthoai --------------------------- */
.ram-showView {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 20px rgb(0 0 0 / 50%);
    min-width: 370px;
}

.ram-dienthoai {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.ram-dienthoai .ram-item {
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    color: #333;
    display: flex;
    font-size: 14px;
    line-height: 13px;
    margin: 0 4px;
    min-height: 36px;
    max-height: 36px;
    padding: 6px 13px;
    border-radius: 6px;
}

.ram-dienthoai .ram-item:hover {
    border: 1px solid #2f80ed;
}

/* --------------------- products -------------------------- */
ul.row {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: repeat(5, minmax(0, 1fr));
    border-left: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
}

.row>.row-item {
    padding: 5px 12px 30px;
    overflow: hidden;
    display: block;
    border-bottom: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    background: #fff;
}

.row>.row-item .item-label span {
    border-radius: 2px;
    font-size: 11px;
    line-height: 12px;
    display: inline-block;
    padding: 3px;
    margin-top: 5px;
    background-color: #f1f1f1;
    color: #333;
}

.row>.row-item .item-image {
    position: relative;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
}

.row>.row-item .item-image img {
    width: 100%;
    transition: all 0.5s ease;
    padding: 20px 0;
}

.row>.row-item .item-sale {
    height: 20px;
    width: 68%;
    background: linear-gradient(to right, #3bacf0, #1b6dc1);
    display: inline-block;
    margin-bottom: 10px;
    align-items: center;
    line-height: 20px;
    border-radius: 40px;
}

.row>.row-item .item-sale img {
    width: 20px;
    float: left;
    margin-right: 4px;
}

.row>.row-item .item-sale p {
    color: #fff;
    font-size: 10px;
}

.row>.row-item .item-name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.row>.row-item .item-capacity ul {
    display: inline-block;
    width: 100%;
}

.row>.row-item .item-capacity ul li {
    padding: 5px 8px !important;
    border: 1px solid #e0e0e0 !important;
    border-radius: 2px;
    color: #333;
    display: inline-flex !important;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 5px;
    margin-right: 4px;
}

.item-old-price {
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
}

.item-old-price p{
    text-decoration: line-through;
    display: inline;
}

.row>.row-item .item-price {
    color: #222;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 5px;
}

sup {
    text-decoration-line: underline;
    font-size: 12px;
}

.item-gift {
    font-size: 13px;
    margin-bottom: 5px;
}

.row>.row-item:hover {
    box-shadow: 0 2px 12px rgb(0 0 0 / 12%);
}

.row>.row-item>a:hover .item-image img {
    transform: translateY(-5%);
}

.row-item a:hover .item-name {
    color: #288ad6;
}

.row>.row-item .item-capacity ul li:hover {
    border-color: #2f80ed !important;
    color: #2f80ed;
    box-shadow: 0 2px 12px rgb(0 0 0 / 12%);
}

/* -----------cho mục xem thêm đóng----------------- */
.row-none {
    display: none;
}

/* ----------------xem thêm----------------------- */
.view-more {
    display: block;
    clear: both;
    width: 100%;
}

.view-more button {
    display: block;
    overflow: hidden;
    position: relative;
    line-height: 40px;
    font-size: 14px;
    color: #333;
    text-align: center;
    border-radius: 4px;
    margin: 10px auto;
    width: 340px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    cursor: pointer;
}

.view-more button:hover {
    background-color: #288ad6;
    color: #fff;
    border: 1px solid #288ad6;
}

/* ----------------rút gọn----------------------- */
.view-abbreviate {
    display: none;
    clear: both;
    width: 100%;
}

.view-abbreviate button {
    display: block;
    overflow: hidden;
    position: relative;
    line-height: 40px;
    font-size: 14px;
    color: #333;
    text-align: center;
    border-radius: 4px;
    margin: 10px auto;
    width: 340px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
}

.view-abbreviate button:hover {
    background-color: #288ad6;
    color: #fff;
    border: 1px solid #288ad6;
}

/* mobile ---------- */
@media (max-width: 46.1875em) {
    .menu-luachon-scroll {
        overflow-x: auto;
    }
    .scroll-locDt {
        z-index: 500;
    }
    ul.row {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .slider.grid.wide {
        margin-top: 112px;
    }
}

/* Tablet - PC low resolution */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    /* .container {
        width: 644px;
    } */
    ul.row {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

/* > PC low resolution */
@media (min-width: 64em) and (max-width: 77.4375em) {
    .container {
        width: 984px;
    }
    ul.row {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
